@using Microsoft.AspNetCore.Identity
@using Web_Api.online.Models.Enums

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Events";
}

@if (SignInManager.IsSignedIn(User))
{
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <span>@(((EventType)item.Type).ToString())-@(item.Comment)-@(item.WhenDate.ToString("dd.mm.yyyy hh:mm:ss"))</span>
            </li>
        }
    </ul>
}

