@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>API:</p>
</div>

<div>
    <ul>
        <li>
            <a href="/swagger">/swagger</a>
        </li>
    </ul>
</div>

<div>
    <ul>
        <li>
            <a href="/api/AllCities">/api/AllCities</a>
        </li>
        <li>
            <a href="/api/Currencies/ticker">/api/Currencies/ticker</a>
        </li>
        <li>
            <a href="/api/Currencies/">/api/Currencies/</a>
        </li>
    </ul>
</div>