@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>API:</p>
</div>

<div>
    <ul>
        <li>
            <a href="/api/AllCities">/api/AllCities</a>
        </li>
        <li>
            <a href="/api/Currencies/GetCurrencies">/api/Currencies/GetCurrencies</a>
        </li>
        <li>
            <a href="/api/AllCities">/api/AllCities</a>
        </li>
    </ul>


</div>