@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div id="external-events" class="m-t-20 stats-links">
        <a href="/stats/IncomeTransactions"><div class="external-event bg-info-lighten text-info" data-class="bg-info">
            <strong>Income Transactions</strong>
        </div></a>
        <a href="/stats/withdraw"><div class="external-event bg-info-lighten text-info" data-class="bg-info">
            <strong>Withdraw Transactions</strong>
        </div></a>
        <a href="/stats/transfers"><div class="external-event bg-info-lighten text-info" data-class="bg-info">
            <strong>Transfers</strong>
        </div></a>
        <a href="/stats/orders"><div class="external-event bg-info-lighten text-info" data-class="bg-info">
            <strong>Orders</strong>
        </div></a>
        <a href="/stats/RegistratedUsers"><div class="external-event bg-info-lighten text-info" data-class="bg-info">
            <strong>Registrated Users</strong>
        </div></a>
        <a href="/stats/RefferalsUsers"><div class="external-event bg-info-lighten text-info" data-class="bg-info">
            <strong>Refferals Users</strong>
        </div></a>
        
    </div>
</div>