@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h1 class="display-4">Stats</h1>
        </div>
    </div>
</div>

<div class="row">

    <div class="list-group">
        <a href="/stats/IncomeTransactions" class="list-group-item list-group-item-action">Income Transactions</a>
        <a href="/stats/withdraw" class="list-group-item list-group-item-action">Withdraw Transactions</a>
        <a href="/stats/transfers" class="list-group-item list-group-item-action">Transfers</a>
        <a href="/stats/Orders" class="list-group-item list-group-item-action">Orders</a>
        <a href="/stats/RegisteredUsers" class="list-group-item list-group-item-action">Registered Users</a>
        <a href="/stats/RefferalsUsers" class="list-group-item list-group-item-action">Refferals Users</a>
    </div>

</div>