@model List<WalletTableModel>
@{
    ViewData["Title"] = "Stats";
}

<div class="row">
    <div id="external-events" class="m-t-20">
        <div class="external-event bg-info-lighten text-info" data-class="bg-info">
            <a href="/stats/incomings"><i class="mdi mdi-checkbox-blank-circle me-2 vertical-middle"></i>Income Transactions</a>
        </div>
        <div class="external-event bg-info-lighten text-info" data-class="bg-info">
           <a href="/stats/withdraw"> <i class="mdi mdi-checkbox-blank-circle me-2 vertical-middle"></i>Withdraw Transactions</a>
        </div>
        <div class="external-event bg-info-lighten text-info" data-class="bg-info">
            <a href="/stats/transfers"><i class="mdi mdi-checkbox-blank-circle me-2 vertical-middle"></i>Transfers</a>
        </div>
        <div class="external-event bg-info-lighten text-info" data-class="bg-info">
            <a href="/stats/orders"><i class="mdi mdi-checkbox-blank-circle me-2 vertical-middle"></i>Orders</a>
        </div>
        <div class="external-event bg-info-lighten text-info" data-class="bg-info">
            <a href="/stats/RegistratedUsers"><i class="mdi mdi-checkbox-blank-circle me-2 vertical-middle"></i>RegistratedUsers</a>
        </div>
    </div>
</div>