@model ReflectionIT.Mvc.Paging.PagingList<RegistratedUsersViewModel>

@{
    ViewData["Title"] = "Stats";
}


<div class="row">

    <table id="RegistratedUsers" class="table table-striped table-centered mb-0">
        <thead>
        <tr class="table-primary">
            <th>Email</th>
            <th>Full Name</th>
            <th>Registration Date</th>

        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.RegistrationDate
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<nav aria-label="Suppliers navigation example">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>