@model Web_Api.online.Controllers.WithdrawController.LTCModel
@{
    ViewData["Title"] = "Send LTC";
}

<div class="row">
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.Status))
        {
            <h1>@Model.Status</h1>
        }
        else
        {
            <form asp-action="LTC" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Currency" class="control-label">Криптовалюта @Model.Currency</label>
                    <input asp-for="Currency" type="hidden" />
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label">Адрес</label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label">Количество монет</label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AmountMin" class="control-label">Минимальная сумма: @Model.AmountMin</label>
                    <input asp-for="AmountMin" type="hidden" />
                </div>
                <div class="form-group">
                    <label asp-for="Commission" class="control-label">Коммисия: @Model.Commission</label>
                    <input asp-for="Commission" type="hidden" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Send" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}