@{
    ViewData["Title"] = "Web-Api.online";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>API:</p>
</div>

<div>
    <ul>
        <li>
            <a href="/swagger">/swagger</a>
        </li>
    </ul>
</div>

<div>
    Exchange Api:
</div>
<div>
    <ul>
        <li>
            <a href="/api/exchange">/api/exchange</a>
        </li>
    </ul>
</div>



<div>
    Web-Api.Online:
</div>
<div>
    <ul>
        <li>
            <a href="/api/webapi">/api/webapi</a>
        </li>
    </ul>
</div>