@{
    ViewData["Title"] = "Wallets";
}

<div class="text-center">
    <h1 class="display-4">Wallets</h1>
    <p>API:</p>
</div>


Wallets:
<div>
    <ul>
        @foreach (var item in Model.UserWallets)
        {
            <li>
                @item.Acronim
            </li>
        }
    </ul>
</div>
