@using Web_Api.online.Extensions
@model SendCoinsViewModel
@{
    ViewData["Title"] = $"Send {Model.Currency}";
}

<div class="row">
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.Status))
        {
            <h1>@Model.Status</h1>
        }
        else
        {
            <form asp-action="Coins" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Currency" class="control-label">Currency @Model.Currency</label>
                    <input asp-for="Currency" type="hidden" />
                </div>
                <div class="form-group">
                        <label asp-for="Balance" class="control-label">Balance @Model.Balance.ShowAsCurrency()</label>
                    <input asp-for="Balance" type="hidden" />
                </div>
                <div class="form-group">
                    <label asp-for="InputTextIdentifier" class="control-label">User name, email, phone, wallet</label>
                    <input asp-for="InputTextIdentifier" class="form-control" />
                    <span asp-validation-for="InputTextIdentifier" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label">Amount coins</label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comment" class="control-label"></label>
                    <input asp-for="Comment" class="form-control" />
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Commission" class="control-label">Commission: @Model.Commission</label>
                    <input asp-for="Commission" type="hidden" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Send" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}