/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a {
    color: #6C757D !important;
    text-decoration: none !important;
}

h5, .h5 {
    display: block !important;
    font-size: 0.83em !important;
    margin-block-start: 1.67em !important;
    margin-block-end: 1.67em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    font-weight: bold !important;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/*--правки логина */

.notification-list .topbar-dropdown-menu .notify-item {
    display: flex;
    align-items: center;
}

    .notification-list .topbar-dropdown-menu .notify-item form button.nav-link.text-dark {
        margin: 0;
    }

.nav-user .account-user-avatar {
    display: none;
}

li.dropdown.notification-list a.nav-link.dropdown-toggle.nav-user {
    padding: 10px 20px !important;
    align-items: center;
    display: flex;
}

.list-unstyled.topbar-menu a {
    background: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
    color: #000 !important;
    margin-bottom: 0 !important;
    font-size: 16px;
    padding: 0 10px;
}

.list-unstyled.topbar-menu {
    display: flex;
    align-items: center;
}

.dark-mode {
    bottom: 30px;
    margin-left: 30px;
}

.nav-user .account-user-icon {
    font-size: 32px;
    display: none;
}

@media (max-width: 991.98px) {
    .nav-user .account-position {
        display: block !important;
    }
    .nav-user .account-user-name {
        display: none;
    }
    .nav-user .account-user-icon {
        display: block;
    }
    li.dropdown.notification-list a.nav-link.dropdown-toggle.nav-user {
        padding: 10px 15px !important;
    }
}

.carousel {
    /*margin-top: 10px;*/
    position: relative;
}

.stats-links {
    cursor: pointer !important;
}

    .stats-links a:hover {
        /*text-decoration: none !important;*/
        color: black !important;
    }

    .stats-links div {
        cursor: pointer !important;
    }


footer > .container {
    display: flex;
    align-items: center;
}

.div_telegram {
    margin-left: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url("/img/telegram.png");
    background-position: center;
    background-size: cover;
}

    .div_telegram:hover {
        background-image: url("/img/telegram_hover.png");
    }

.b-popup-content {
    margin: 40px auto 0px auto;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    color: #808080;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 10px #000;
}

.modal-qrcode-content {
    position: fixed;
    top: 20%;
    left: 50%;
    padding: 20px;
    width: 360px;
    margin-left: -200px;
    background: #fff;
    border: 1px solid orange;
    border-radius: 4px;
    z-index: 1001;
    opacity: 1;
}

.qrcode-img {
    cursor: pointer !important;
}

.popup-qr-container {
    display: none;
}

.popup-qr-container:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: 1000;
}

i[class^="dripicons-copy"]:hover {
    color: black !important;
}

body[data-leftbar-theme=dark] .list-unstyled.topbar-menu a {
    color: #8391a2 !important;
}

body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .wrapper .leftside-menu .dark-mode-label {
    visibility: hidden;
}

body[data-leftbar-compact-mode="condensed"]:not(.authentication-bg) .wrapper .leftside-menu .dark-mode {
    padding-left: 2em;
}

/* form-check form-switch mb-2 side-nav-title dark-mode */
.leftside-menu .dark-mode .form-check-input {
    background-color: #727cf5;
    border-color: #727cf5;
}
.leftside-menu .dark-mode-label {
    color: #6C757D;
}