@{
    ViewData["Title"] = "Create New Pair";
}

<div class="">
    <div role="document">
        <div>
            <div>
                <h5>Create new crypt exchange pair</h5>
            </div>
            <div>
                <div class="form-group">
                    <label for="firstCurrency" class="col-form-label">First currency:</label>
                    <input type="text" class="form-control" id="firstCurrency">
                </div>
                <div class="form-group">
                    <label for="secondCurrency" class="col-form-label">Second currency:</label>
                    <input type="text" class="form-control" id="secondCurrency" />
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="sendData()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#success-alert-modal">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Success Alert Modal -->
<div id="success-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-success">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-checkmark h1"></i>
                    <h4 class="mt-2">Pair added</h4>
                    <p class="mt-3">Objects in database created.</p>
                    <button type="button" class="btn btn-light my-2" data-bs-dismiss="modal">Continue</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    function sendData() {
        var firstCurrency = document.getElementById("firstCurrency").value;
        var secondCurrency = document.getElementById("secondCurrency").value;

        $.ajax({
            url: '/admin/pairs/create',
            type: 'POST',
            data: JSON.stringify({
                firstCurrency: firstCurrency,
                secondCurrency: secondCurrency
            }),
            contentType: 'application/json; charset=utf-8'
        });
    }
</script>