@{
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Admin</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="list-group">
            <a href="/Admin/Users" class="list-group-item list-group-item-action">
                Users
            </a>
            <a href="/Admin/Exceptions" class="list-group-item list-group-item-action">
                Exceptions
            </a>
            <a href="/Admin/IncomeTransactions" class="list-group-item list-group-item-action">
                IncomeTransactions
            </a>
            <a href="/Admin/OutcomeTransactions" class="list-group-item list-group-item-action">
                OutcomeTransactions
            </a>
            <a href="/Admin/Settings" class="list-group-item list-group-item-action">
                Settings
            </a>
            <a href="/Admin/Transfers" class="list-group-item list-group-item-action">
                Transfers
            </a>
        </div>
    </div>
</div>