@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model List<PairsTableModel>

@{
    ViewData["Title"] = "Markets";
}

<div class="text-center">
    <h1 class="display-4">Trades</h1>
    <br />
    @if (SignInManager.IsSignedIn(User))
    {
        <a href="Trade/OpenOrders">Open orders</a>
        <a href="Trade/ClosedOrders">Closed orders</a>
    }

</div>

<div>
    <ul>
        <li>
            <a href="/trade/btcusdt">old BTC - USDT</a>
        </li>
        @foreach (var pair in Model)
        {
            <li>
                <a href="/trade/crypto/@pair.Header.Replace(" ", string.Empty).ToLower()">@pair.Header</a>
            </li>
        }
    </ul>
</div>
