@{
    ViewData["Title"] = "Web-Api.online";
}

<div class="text-center">
    <h1 class="display-4">Trades</h1>
</div>

<div>
    <ul>
        <li>
            <a href="/trade/btcusdt">BTC - USDT</a>
        </li>
    </ul>
</div>
