@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Web-Api.online";
}

<div class="text-center">
    <h1 class="display-4">Trades</h1>
    <br />
    @if (SignInManager.IsSignedIn(User))
    {
        <a href="Trade/OpenOrders">Open orders</a>
        <a href="Trade/ClosedOrders">Closed orders</a>
    }

</div>

<div>
    <ul>
        <li>
            <a href="/trade/btcusdt">BTC - USDT</a>
        </li>
    </ul>
</div>
